/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .logo {
     width: 48px;
 }

 .comment {
     display: flex;
 }

 .flex-start {
    justify-content: flex-start;
 }

 .flex-end {
    justify-content: flex-end;
 }

 .card {
    padding: 0 0.5rem;
    border-radius: 15px !important;
    margin-top: 0.5rem !important;
 }

 .card p {
     margin-bottom: 0 !important;
 }

 .card-border {
     background-color: #0086FF !important;
     border-color: #0086FF !important;
     color: #fff;
     display: inline-block !important;
 }

 .card-no-border {
     background-color: #F1F2F6 !important;
     border-color: #F1F2F6 !important;
     display: inline-block !important;
 }

 .timestamp {
     display: flex;
     justify-content: center;
     margin: 0.5rem 0;
     color: #D2D7DF;
 }

 .reply {
     margin-top: 2rem;
     padding: 1rem 0;
     border-top: 1px solid #EDF1F3;
 }

 .reply-input {
     width: 100%;
     background: #F8F8FA !important;
     border: 1px solid #F8F8FA !important;
     border-radius: 8px !important;
     padding: 16px !important;
 }

 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #AEB8C4;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #AEB8C4;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #AEB8C4;
  }